/* main */

.pop .overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(235, 210, 189, 0.99);
  z-index: 1;
  display: none;
  animation: zoom 0.75s ease;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}

/* this is close button */
.pop .close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: #6c5146;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 80%;
}

.pop.active .overlay {
  display: block;
}

.overlay {
  /* border: 2px solid black; */
  color: #6c5146;
}

.overlay h2 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 10%;
  letter-spacing: 0.5px;
  color: #6c5146;
  /* border: 2px solid black; */
}

.overlay p {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  padding: 3%;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 0% 10%;
}

/* This is line animation!!!!! */
