/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  /* border: 2px solid black; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border:1px solid grey; */
}

/* General style */

html {
  /* border: 2px solid black; */
  font-size: 63.5%;
  background-color: #f3f3f1;
  font-family: Arial;
}

nav {
  background-color: #dddfdb;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navLink ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 6%;
}
.navLink li {
  margin-right: 16%;
}
.navLink li a {
  color: #474747;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  width: 30vw;
}
li a:hover {
  color: #428191;
  font-weight: 200;
}

.toggle {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle .bar {
  height: 3px;
  width: 100%;
  background-color: #474747;
  border-radius: 10px;
}

.home {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8%;
  animation: zoom 0.9s ease;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}

.name {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  color: #474747;
  margin-right: 0%;
  margin-left: 10%;
  width: 45%;
  letter-spacing: 1.5px;
}

.line {
  background-color: #b1b1ac;
  width: 100%;
  height: 0.4vh;
  margin-bottom: 1.5%;
  animation: lineIn 1.5s ease-in;
}
@keyframes lineIn {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.marisa {
  font-weight: 550;
}
h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 100;
  word-spacing: 5px;
  letter-spacing: 3px;
  animation: slideIn 1s ease-in;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: skew(0deg);
  }
}

h2 {
  font-size: 20px;
  text-transform: capitalize;
}
.picture {
  /* border: 2px solid black; */
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.design {
  position: absolute;
  background-color: #dddfdb;
  width: 48%;
  height: 55vh;
  margin-top: 2%;
}
.picture img {
  /* border: 2px solid black; */
  position: relative;
  z-index: 1;
  width: 45vw;
  height: 52vh;
  margin-right: 10%;
  margin-top: 5%;
  /* animation: fadeIn 2s ease-in; */
}

/* Another link basic */

.title {
  color: #474747;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9%;
  animation: zoom 0.75s ease;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}
h3 {
  font-size: 50px;
  text-transform: uppercase;
}
.sideDesign {
  height: 100%;
  width: 20%;
  background-color: #b1b1ac;
}

/* ABOUT */
.about {
  /* border: 2px solid black; */
  margin: 0% 15%;
  padding: 5%;
  font-size: 20px;
  line-height: 1.6;
}

.underline {
  background-color: #b1b1ac;
  width: 30%;
  height: 0.3vw;
  margin-bottom: 1.5%;
  animation: underLine 1s ease-in;
}
@keyframes underLine {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

@media (max-width: 1920px) {
  h1 {
    font-size: 55px;
  }
}

@media (max-width: 1640px) {
  h1 {
    font-size: 50px;
  }
}

@media (max-width: 1500px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 1290px) {
  h1 {
    font-size: 35px;
  }
}
@media (max-width: 1120px) {
  h1 {
    font-size: 30px;
  }
}

/* @media (max-width: 414px) {
  .toggle {
    display: flex;
  }
  .navbar {
  }

  .navLink {
    display: none;
    width: 100%;
  }

  .navLink ul {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .navLink li {
    text-align: center;
    margin-top: 10%;
    margin-right: 0%;
  }

  .navLink.active {
    display: flex;
  }

  .home {
    margin-top: 40%;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
  }
  .name {
  }
} */
