/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  /* border: 2px solid black; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border:1px solid grey; */
}

/* General style */

html {
  /* border: 2px solid black; */
  font-size: 63.5%;
  background-color: #f3f3f1;
  font-family: Arial;
}

/* ------------------- NAVIGATION BAR ----------------- */

nav {
  background-color: #dddfdb;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navLink ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 6%;
}
.navLink li {
  /* border: 2px solid black; */
  margin-right: 16%;
}
.navLink li a {
  /* border: 2px solid black; */
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.nav-link {
  text-decoration: none;
  color: #474747;
  position: relative;
}

.nav-link:hover {
  opacity: 1;
  font-weight: bold;
}

/* this is line shape */
/* .nav-link::before {
  transition: 300ms;
  height: 2.5px;
  content: "";
  position: absolute;
  background-color: #b1b1ac;
} */

/* this is start of line animation */
/* .nav-link-ltr::before {
  bottom: 0%;
  transform: scale(0);
} */

/* ---------------- this is end of line animation ----------------*/
.nav-link-ltr:hover::before {
  width: 100%;
  transform: scale(1);
}

/* ------------------- LANDING TEXT ---------------------- */

.home {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 10%;
  animation: zoom 0.9s ease;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}

.name {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  color: #474747;
  margin-right: 0%;
  margin-left: 0%;
  width: 100%;
  letter-spacing: 1.5px;
}

.line {
  background-color: #b1b1ac;
  width: 45%;
  height: 0.4vh;
  margin-bottom: 1.5%;
  animation: lineIn 1.5s ease-in;
}
@keyframes lineIn {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}

.marisa {
  font-weight: 550;
}
h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 100;
  word-spacing: 5px;
  letter-spacing: 3px;
  animation: slideIn 1s ease-in;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: skew(0deg);
  }
}

h2 {
  font-size: 20px;
  text-transform: capitalize;
}

.about {
  /* border: 2px solid black; */
  margin-right: 43%;
  padding-top: 2%;
  font-size: 13px;
  line-height: 200%;
}

/* ------------------------ ABOUT PICTURE --------------------------- */
.picture {
  /* border: 2px solid black; */
  width: 50vw;
  display: flex;
  margin-left: 0%;
}
.design {
  /* border: 2px solid black; */
  position: absolute;
  background-color: #dddfdb;
  width: 30vw;
  height: 21vw;
  margin-top: 0%;
  margin-left: 0%;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13), 0 2px 10px 0 rgba(0, 0, 0, 0.13); */
}
.picture img {
  /* border: 2px solid black; */
  /* border: 2px solid black; */
  position: relative;
  z-index: 1;
  width: 28vw;
  height: auto;
  margin-top: 3%;
  margin-left: 10%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* object-fit: cover; */
  /* aspect-ratio: 5/3; */
}

/* ------------------- EACH PAGE'S TITLE AND UNDERLINE ----------------- */

.title {
  color: #474747;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9%;
  animation: zoom 0.75s ease;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}
h3 {
  font-size: 50px;
  text-transform: uppercase;
}
.sideDesign {
  height: 100%;
  width: 20%;
  background-color: #b1b1ac;
}

.underline {
  background-color: #b1b1ac;
  width: 30%;
  height: 0.3vw;
  margin-bottom: 1.5%;
  animation: underLine 1s ease-in;
}
@keyframes underLine {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

/* ----------------- PPORTFOLIO PAGE ----------------- */

.main {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5% 0% 2% 0%;
  height: 100%;
  animation: zoom 0.75s ease;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}
.side {
  /* border: 2px solid black; */
  background-color: #dcdfdb;
  font-size: 18px;
  text-transform: uppercase;
  padding: 2%;
  height: 50%;
  width: 30%;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}
.side a {
  margin-bottom: 10%;
  text-decoration: none;
  color: #474747;
}

.side a:hover {
  font-weight: bold;
}

.gallary {
  /* border: 2px solid black; */
  margin: 0% 20% 0% 1%;
  display: flex;
  flex-wrap: wrap;
}
.boxOne {
  /* border: 2px solid black; */
  width: 45%;
}
.boxTwo {
  /* border: 2px solid black; */
  width: 45%;
}
.boxThree {
  /* border: 2px solid black; */
  width: 45%;
}
.boxFour {
  /* border: 2px solid black; */
  width: 45%;
}
.boxOne img {
  filter: grayscale(100%);
  width: 26vw;
  height: 26vw;
  object-fit: cover;
  object-position: 75% 100%;
  /* width: 90%;
  height: 90%; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}

.boxTwo img {
  filter: grayscale(100%);
  width: 26vw;
  height: 26vw;
  object-fit: cover;
  object-position: 75% 100%;
  /* width: 90%;
  height: 90%; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.boxThree img {
  filter: grayscale(100%);
  width: 26vw;
  height: 26vw;
  object-fit: cover;
  object-position: 40% 100%;
  /* width: 90%;
  height: 155%; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
  margin-top: 3%;
}
.boxFour img {
  filter: grayscale(100%);
  width: 26vw;
  height: 26vw;
  object-fit: cover;
  object-position: 40% 100%;
  /* width: 90%;
  height: 155%; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
  margin-top: 3%;
}
.gallary img:hover {
  filter: none;
  transform: translateY(-5px);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ---------------------- POP UP ----------------------- */

.pop .overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #f3f3f1;
  z-index: 1;
  display: none;
  animation: zoom 0.75s ease;
  overflow-y: scroll;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}

/* this is close button */
.pop .close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: #474747;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 80%;
}

.pop.active .overlay {
  display: block;
}

.overlay {
  /* border: 2px solid black; */
  color: #474747;
}

.overlay .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailOne {
  /* border: 2px solid black; */
  margin-top: 5%;
  width: 40%;
}

.detailTwo {
  margin-top: 10%;
  width: 60%;
}

.text {
  margin-top: 2%;
  margin-bottom: 1%;
  line-height: 2;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail h2 {
  /* border: 2px solid black; */
  font-size: 10px;
}
.detail h3 {
  font-size: 10px;
  font-weight: bold;
}

/* ---------------------- CONTACT ----------------------- */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.text h3 {
  font-size: 15px;
  text-transform: none;
}
.text h4 {
  font-size: 15px;
  font-weight: bold;
}
.info {
  /* border: 2px solid black; */
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10%;
}
.icon {
  width: 2.5vw;
  color: #474747;
}

.icon:hover {
  transform: translateY(-5px);
}

/* ---------------------- @media ----------------------- */

@media (max-width: 1920px) {
  /* ----- NAVIGATION BAR ----- */
  .navLink li a {
    font-size: 25px;
  }
  /* ----- LANDING PAGE ABOUT ----- */
  .about {
    /* border: 2px solid black; */
    margin-right: 20%;
    font-size: 20px;
    line-height: 200%;
  }
  h1 {
    font-size: 55px;
  }

  /* ----- CONTACT PAGE ----- */

  .text h3 {
    font-size: 20px;
  }

  .text h4 {
    font-size: 20px;
  }
  .icon {
    width: 2.8vw;
  }
}

@media (max-width: 1640px) {
  /* ----- NAVIGATION BAR ----- */
  .navLink li a {
    font-size: 23px;
  }
  /* ----- LANDING PAGE ABOUT ----- */
  .about {
    /* border: 2px solid black; */
    margin-right: 35%;
    font-size: 17px;
  }
  h1 {
    font-size: 50px;
  }
  /* ----- CONTACT PAGE ----- */
  .text h3 {
    font-size: 18px;
  }

  .text h4 {
    font-size: 18px;
  }
  .icon {
    width: 2.5vw;
  }
}

@media (max-width: 1500px) {
  /* ----- NAVIGATION BAR ----- */
  .navLink li a {
    font-size: 21px;
  }
  /* ----- LANDING PAGE ABOUT ----- */
  .about {
    /* border: 2px solid black; */
    margin-right: 38%;
    font-size: 15px;
  }
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 1410px) {
  /* ----- LANDING PAGE ABOUT ----- */
  .about {
    /* border: 2px solid black; */
    margin-right: 40%;
    font-size: 13px;
  }
  /* ----- PORTFOLIO ----- */
  .side {
    font-size: 14px;
  }
}
@media (max-width: 1290px) {
  /* ----- NAVIGATION BAR ----- */
  .navLink li a {
    font-size: 19px;
  }
  /* ----- LANDING PAGE ABOUT ----- */
  .about {
    margin-right: 33%;
  }
  h1 {
    font-size: 35px;
  }
  /* ------ EACH TITLE AND UNDERLINE ------ */
  .title h3 {
    font-size: 45px;
  }
  /* ----- CONTACT PAGE ----- */
  .text h3 {
    font-size: 18px;
  }

  .text h4 {
    font-size: 18px;
  }
  .icon {
    width: 2.5vw;
  }
}

/* ---------------------------- THE iPad SCREEN ------------------------------- */
@media (max-width: 1120px) {
  /* ----- NAVIGATION BAR ----- */
  .navLink li a {
    font-size: 19px;
  }
  /* ----- LANDING PAGE ABOUT ----- */
  .home {
    margin-top: 15%;
  }
  .about {
    font-size: 11px;
  }
  h1 {
    font-size: 30px;
  }
  /* ----- PORTFOLIO ----- */
  .side {
    font-size: 12px;
  }
  /* ------ EACH TITLE AND UNDERLINE ------ */
  .title h3 {
    font-size: 40px;
  }
  /* ----- CONTACT PAGE ----- */
  .text h3 {
    font-size: 15px;
  }

  .text h4 {
    font-size: 15px;
  }
  .icon {
    width: 2.5vw;
  }
}
@media (max-width: 858px) {
  /* ----- NAVIGATION BAR ----- */
  .navLink li a {
    font-size: 17px;
  }

  /* ----- LANDING PAGE ABOUT ----- */
  .about {
    margin-right: 15%;
    font-size: 11px;
    line-height: 150%;
  }
  h1 {
    font-size: 30px;
  }
  /* ----- PORTFOLIO ----- */
  .gallary {
    margin: 0% 10% 0% 1%;
  }
  .side {
    font-size: 11px;
  }
  /* ----- CONTACT PAGE ----- */
  .text h3 {
    font-size: 13px;
  }

  .text h4 {
    font-size: 13px;
  }
  .icon {
    width: 2.5vw;
  }
}

/* -------------------------------------- THE MOBILE SCREEN ------------------------------------- */

@media (max-width: 500px) {
  /* ------------------- NAVIGATION BAR ----------------- */
  .burger {
    display: flex;
  }

  .navLink {
    display: none;
    width: 100%;
  }

  .navLink ul {
    width: 100%;
    flex-direction: column;
    margin: 0;
    margin-bottom: 10%;
  }

  .navLink li {
    text-align: center;
    margin-top: 10%;
    margin-right: 0%;
  }

  .navLink.active {
    display: flex;
  }

  /* ----------------- THIS IS NAV FOR THE MOBILE SCREEN ---------------- */

  .burger {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .burger .bar {
    height: 3px;
    width: 100%;
    background-color: #474747;
    border-radius: 10px;
  }

  /* ------------------- LANDING PAGE---------------------- */

  .home {
    margin-top: 30%;
    margin-left: 5%;
    /* border: 2px solid black; */
    flex-direction: column;
    align-items: center;
  }
  .line {
    width: 66%;
    height: 0.2vh;
    animation: lineMobile 1.5s ease-in;
  }
  @keyframes lineMobile {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
  h2 {
    font-size: 15px;
    text-transform: capitalize;
  }
  .about {
    /* border: 2px solid black; */
    padding-top: 2%;
    font-size: 11px;
    line-height: 130%;
  }
  /* ------------------------ ABOUT PICTURE --------------------------- */
  .picture {
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .design {
    width: 50vw;
    height: 37vw;
  }
  .picture img {
    width: 48vw;
  }
  /* ------------------- EACH PAGE'S TITLE AND UNDERLINE ----------------- */
  .title h3 {
    margin-top: 15%;
    font-size: 25px;
  }
  /* ----------------- PPORTFOLIO PAGE ----------------- */
  .main {
    flex-direction: column-reverse;
    align-items: center;
    margin: 5% 0% 0% 0%;
  }
  .side {
    width: 50%;
    align-items: center;
    margin-bottom: 5%;
  }
  .side a {
    margin-top: 10%;
  }

  .gallary {
    margin: 5% 0% 10% 0%;
    width: 90%;
  }
  .boxOne {
    width: 50%;
    text-align: center;
  }
  .boxTwo {
    width: 50%;
    text-align: center;
  }
  .boxThree {
    width: 50%;
    text-align: center;
    margin-top: 6%;
  }
  .boxFour {
    width: 50%;
    text-align: center;
    margin-top: 6%;
  }
  .boxOne img {
    width: 35vw;
    height: 35vw;
  }
  .boxTwo img {
    width: 35vw;
    height: 35vw;
  }
  .boxThree img {
    width: 35vw;
    height: 35vw;
  }
  .boxFour img {
    width: 35vw;
    height: 35vw;
  }
  .detailOne {
    /* border: 2px solid black; */
    margin-top: 30%;
    width: 90%;
  }

  .detailTwo {
    margin-top: 30%;
    width: 90%;
  }

  /* ---------------------- CONTACT ----------------------- */
  .text h3 {
    margin-top: 0%;
    font-size: 13px;
  }
  .text h4 {
    font-size: 13px;
  }
  .icon {
    width: 6vw;
  }
}
