/* .home {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 8%;
  animation: zoom 0.9s ease;
  margin-left: 3%;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}

.name {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  color: #474747;
  margin-left: 10%;

  letter-spacing: 1.5px;
}

.line {
  background-color: #b1b1ac;
  width: 100%;
  height: 0.4vh;
  margin-bottom: 1.5%;
  animation: lineIn 1.5s ease-in;
}
@keyframes lineIn {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.marisa {
  font-weight: 550;
}
h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 100;
  word-spacing: 5px;
  letter-spacing: 3px;
  animation: slideIn 1s ease-in;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: skew(0deg);
  }
}

h2 {
  font-size: 20px;
  text-transform: capitalize;
}
.picture {
  border: 2px solid black;
  width: 70%;
  height: 0%;
  display: flex;
  flex-direction: column;
}
.design {
  position: absolute;
  background-color: #dddfdb;
  width: 60vw;
  height: 55%;
  margin-top: 0%;
}
.picture img {
  border: 2px solid black;
  position: relative;
  z-index: 1;
  width: 45vw;
  height: 20%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 6%;
  aspect-ratio: 5/3;
  animation: fadeIn 2s ease-in;
} */

/* <section class="pop" id="portfolio">
      <div class="overlay">
        <div class="close" id="close" onClick="togglePortfolio()">&times;</div>
        
        

          
      </div>
    </section> */
